
body {
    text-align: center;
    background-color: #f4f4f9;
    padding: 20px;
}
h1 {
    color: #333;
    font-size: 50px;
}
.choices {
    margin: 20px 0;
}
p {
    font-size: 30px;
}
.choice-button {
    padding: 30px 30px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s;
}
.choice-button:hover {
    background-color: #0056b3;
}
.result {
    margin-top: 20px;
    font-size: 50px;
    color: #555;
}
